html {
    background: url(images/WidgetCoLogo.gif) no-repeat center fixed;
    background-size: auto;
}
* {
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin-left: 50px;
    margin-right: 50px;
    
}

article {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
    padding-left: 70px;
    padding-right: 70px;
    margin-left: 40px;
    margin-right: 40px;
}

section {
    background-color: #fffef0;
            padding: 15px;
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 0px;
            margin-right: 0px;
            line-height: normal;
            border-style: solid;
            border-color: #29803f;
            border-top-width: 3px;
            border-bottom-width: 3px;
            border-left-width: 30px;
            border-right-width: 3px;
            text-align: left;
}

section a:link {
    font-weight: bold;
}
header {
    font-variant: small-caps;
    text-align: center;
    padding: 5px;
    border: 1px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 15px solid black;

    
}

aside {
    text-align: right;
    margin-left: 1px;
    border-right-color: #454467;
    border-right-style: solid;
    border-right-width: 15px;
    padding: 15px;
    flex-shrink: 0;
}

aside::first-line {
    font-weight: bold;
}

footer {
    text-align: right;
    font-style: italic;
    color:darkgrey;
    padding: 3px;
}

footer a:link {
    color: darkgrey;
}

footer a:visited {
    color:darkgrey;
}

h1 {
    text-align: left;
    font-size: 40px;
    padding: 15px;
    margin-right: 1px;


}

h2 {
    text-align: center;
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 15px;
    margin: 1px;
    line-height: 0.8;
}